key-clusters:
  main:
    matrix-columns: 
    - rows-above-home: 2
      rows-below-home: 1
    - rows-above-home: 2
      rows-below-home: 1
    - rows-above-home: 2
      rows-below-home: 2
    - rows-above-home: 2
      rows-below-home: 2
    - rows-above-home: 2
      rows-below-home: 1
    - rows-above-home: 2
      rows-below-home: 1
    style: standard
    aliases: 
      lower-left: [first, first]
      upper-left: [first, last]
      lower-right: [last, first]
      upper-right: [last, last]
      i0a: [0, first]
      i1a: [0, 0]
      i2a: [0, 1]
      i3a: [0, 2]
      i0b: [1, first]
      i3b: [1, last]
      iHome: [1, 0]
      m0: [2, first]
      mn: [2, last]
      r0: [3, first]
      rn: [3, last]
      p0a: [4, first]
      p0b: [5, first]
    anchoring:
      anchor: origin
      intrinsic-offset: [0, 0, 43]
      intrinsic-rotation: [0, 0.7, 0]
      preserve-orientation: true
  thumb:
    anchoring:
      anchor: iHome
      intrinsic-rotation: [0, -1.2, 0.40]
      extrinsic-offset: [-30, -40, -10]
      preserve-orientation: true
    matrix-columns:
    - rows-above-home: 1
    - rows-above-home: 1
    - rows-above-home: 1
    aliases:
      ttl: [last, last]
      ttr: [last, first]
      tml: [1, last]
      tmr: [1, first]
      tbl: [first, last]
      tbr: [first, first]
  reset-switch:
    anchoring:
      anchor: rear-housing-exterior
      side: N
      segment: 3
      intrinsic-rotation: [π/-2, 0, 0]
      extrinsic-offset: [8, 0, 14]
    matrix-columns:
    - rows-above-home: 0
    aliases:
      rst: [first, first]
by-key:
  parameters:
    channel:
      height: 20
      top-width: 18
      margin: 1
  clusters:
    main:
      parameters:
        layout:
          matrix:
            neutral:
              column: 2
      columns:
        "0":
          parameters:
            layout:
              matrix:
                separation:
                  row: 0.7
                  column: 1.0
              pitch:
                progressive: 0.4
              roll:
                intrinsic: 0.3
              translation: 
                mid: [0, -2, 9]
          sides:
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
          rows:
            "2":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 2
                      parallel: 5
            "1":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 2
                      parallel: 5
                      to-ground: true
            "0":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 2
                      parallel: 5
            "-1":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 2
                      parallel: 5
                south:
                  parameters:
                    wall:
                      extent: 2
                      parallel: 5
        "1":
          parameters:
            layout:
              matrix:
                separation:
                  row: 2.0
              pitch:
                progressive: 0.4
              translation: 
                early: [0, 0, 5]
          sides:
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
        "2":
          parameters:
            layout:
              matrix:
                separation:
                  row: 0.1
              pitch:
                progressive: 0.4
                intrinsic: 0.1
              translation: 
                early: [0, 9, 0]
          rows:
            "-2":
              parameters:
                layout:
                  translation:
                    mid: [0, -0.2, 0]
          sides:
            south:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
                  to-ground: true
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
        "3":
          parameters:
            layout:
              matrix:
                separation:
                  row: 1.8
              pitch:
                progressive: 0.37
              translation: 
                early: [0, 2, 5]
          sides:
            south:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
                  to-ground: true
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
                  to-ground: true
        "4":
          parameters:
            layout:
              matrix:
                separation:
                  row: 0.0
              pitch:
                progressive: 0.45
              translation: 
                mid: [3, -15, 10]
          rows:
            last:
              parameters:
                layout:
                  translation:
                    late: [0, 0.5, 0]
          sides:
            south:
              parameters:
                wall:
                  extent: 2
                  parallel: 6.65
                  to-ground: true
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
                  to-ground: true
        "5":
          parameters:
            layout:
              matrix:
                separation:
                  row: 1.2
                  column: 1.3
              roll:
                intrinsic: -0.40
              pitch:
                progressive: 0.45
              translation: 
                mid: [5.5, -16, 17]
          sides:
            east:
              parameters:
                wall:
                  extent: 2
                  to-ground: true
                  parallel: 3
            south:
              parameters:
                wall:
                  to-ground: true
                  extent: 2
                  parallel: 5
            north:
              parameters:
                wall:
                  to-ground: true
                  extent: 2
                  parallel: 5
          rows:
            "2":
              parameters:
                layout:
                  yaw:
                    intrinsic: 0.09
                  translation:
                    late: [-4.3, -0.9, 0]
      rows:
        "-2":
          parameters:
            key-style: r1
          columns:
            last:
              parameters:
                key-style: r1w
        "-1":
          parameters:
            key-style: r2
          columns:
            last:
              parameters:
                key-style: r2w
        "0":
          parameters:
            key-style: r3
          columns:
            last:
              parameters:
                key-style: r3w
        "1":
          parameters:
            key-style: r4
          columns:
            last:
              parameters:
                key-style: r4w
        "2":
          parameters:
            key-style: r5
    thumb:
      parameters:
        layout:
          matrix:
            neutral:
              column: 1
            separation:
              column: 0.5
          roll:
            progressive: 0.3
      columns:
        "0":
          parameters:
            layout:
              pitch:
                base: 0.1
                progressive: 0.3
              yaw:
                base: 0.05
          rows:
            first:
              parameters:
                key-style: r2
            last:
              parameters:
                key-style: r4
          sides:
            south:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
        "1":
          parameters:
            layout:
              translation:
                early: [0, 2, 0]
              pitch:
                progressive: 0.7
          rows:
            first:
              parameters:
                key-style: r3t
                layout:
                  translation:
                    mid: [0, -8, 0]
            last:
              parameters:
                key-style: r3
          sides:
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
            south:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
        "2":
          parameters:
            layout:
              pitch:
                base: 0.1
                progressive: 0.3
              yaw:
                base: -0.05
              translation:
                mid: [0, -3, 0]
          rows:
            first:
              parameters:
                key-style: r2
            last:
              parameters:
                key-style: r4
          sides:
            north:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
            south:
              parameters:
                wall:
                  extent: 2
                  parallel: 5
secondaries:
  rhsw:
    anchoring:
      anchor: rear-housing-exterior
      side: SW
      segment: 0
      extrinsic-offset: [0.4, 1, -1.375]
    size: 2.25
  rhs:
    anchoring:
      anchor: rear-housing-exterior
      side: S
      segment: 0
      extrinsic-offset: [0, 1, -1.5]
    size: 2
  rhse:
    anchoring:
      anchor: rear-housing-exterior
      side: SE
      segment: 0
      extrinsic-offset: [-0.5, 1, -1.5]
    size: 2
tweaks:
  ring-to-pinky:
    # Filling triangle gap
    - chunk-size: 3
      hull-around:
      - [r0, NE, 0]
      - [r0, SE, 0]
      - [p0a, SW, 0]
    # Bridging gap between ring and pinky b
    - chunk-size: 2
      hull-around:
      - [r0, SSE, 0, 2]
      - [p0a, SSW, 0, 2]
  index-to-index:
    - chunk-size: 3
      hull-around:
      - [i0b, SW, 0]
      - [i0a, SE, 0]
      - [i0b, SE, 0]
      - [m0, SW, 0]
      - [m0, NW, 0]
    - hull-around:
      - [i0a, SSE, 0, 3]
      - [m0, SSW, 0, 3]
  thumb-skirt:
    # Skirt at bottom of thumb cluster
    - at-ground: true
      chunk-size: 2
      hull-around:
      - [tbl, NW, 0]
      - [tbl, SW, 0]
      - [tbr, NW, 0]
      - [tbr, SW, 0]
    # Skirt at outer edges of bottom
    - at-ground: true
      hull-around:
      - [tbl, NNW, 0, 3]
    - at-ground: true
      hull-around:
      - [tbr, SSW, 0, 3]
  thumb-left:
    # Top-left side of thumb cluster
    - chunk-size: 3
      hull-around:
      - [ttl, SE, 0]
      - [i0a, WSW, 2]
      - [ttl, NE, 0]
      - [i0a, WNW, 2]
      - [ttl, NNE, 3]
      - [i1a, WSW, 2]
      - [i1a, WNW, 2]
    # Left side of thumb cluster
    - chunk-size: 3
      hull-around:
      - [ttl, NNE, 2]
      - [i1a, WNW, 2]
      - [ttl, NNW, 2]
      - [i2a, WSW, 2]
      - [tml, NNE, 2]
      - [i2a, WSW, 2]
      - [tml, NNW, 2]
    # Left side skirt
    - at-ground: true
      hull-around:
      - [i2a, WSW, 2]
      - [tml, NNW, 2]
    - hull-around:
      - [tml, NNW, 2]
      - [tbl, NNW, 2]
      - [tbl, NNE, 0, 3]
    - at-ground: true
      hull-around:
      - [tml, NNW, 2]
      - [tbl, NNW, 2]
  thumb-right:
    # Top-right webbing
    - chunk-size: 3
      hull-around:
      - [ttl, SSE, 0]
      - [i0a, WSW, 2]
      - [ttr, NNE, 0]
      - [i0a, SSW, 2]
      - [ttr, SSE, 0]
      - [i0a, SSW, 2]
      - [ttr, SSE, 2]
      - [i0a, SW, 0]
      - [ttr, SSE, 2]
      - [i0a, SSE, 0]
      - [ttr, SSW, 2]
      - [i0a, SSE, 2]
      - [m0, SSW, 2]
    # Right webbing
    - hull-around:
      - [ttr, SSW, 2]
      - [m0, SSW, 2]
      - [tmr, SSE, 2]
    - chunk-size: 3
      hull-around:
      - [ttr, SSW, 2]
      - [tmr, SSE, 2]
      - [m0, SSW, 2]
      - [tmr, SSW, 2]
    - at-ground: true
      hull-around:
      - [tmr, SSW, 2]
      - [m0, SSW, 2]
    - hull-around:
      - [tmr, SSW, 2]
      - [tbr, SSW, 2]
      - [tbr, SE, 0]
      - [tbr, SSE, 3]
    - at-ground: true
      hull-around:
      - [tbr, SSW, 2]
      - [tmr, SSW, 2]
  rear-housing-to-main:
    - at-ground: true
      chunk-size: 2
      hull-around:
      - [rn, NNW, 2]
      - [mn, NNE, 2]
      - [rhse, N, 0]
    - chunk-size: 3
      hull-around:
      - [mn, NNE, 2]
      - [rhse, N, 0]
      - [mn, NNW, 2]
      - [rhs, N, 0]
      - [i3b, NNE, 2]
      - [i3b, NNW, 2]
    - chunk-size: 3
      hull-around:
      - [rhs, N, 0]
      - [i3b, NNW, 2]
      - [rhsw, N, 0]
      - [i3a, NNE, 2]
      - [i3a, NNW, 2]
    - hull-around:
      - [i3a, NNW, 2]
      - [rhsw, N, 0]
      - [i3a, WNW, 2]
    - at-ground: true
      chunk-size: 2
      hull-around:
      - [rhsw, N, 0]
      - [i3a, WNW, 2]
      - [i3a, WSW, 2]
      - [i2a, WNW, 2]
main-body:
  reflect: true
  rear-housing:
    include: true
    anchoring:
      anchor: upper-left
      extrinsic-offset: [14.5, 31, 3]
    size: [50, 15, 55]
  bottom-plate:
    include: true
    installation:
      dome-caps: true
      thickness: 3
      inserts:
        include: true
        length: 8
        diameter:
          top: 4.5
          bottom: 5.0
      fasteners:
        bolt-properties:
          m-diameter: 4
          head-type: button
          total-length: 8
        positions:
          - anchor: lower-right
            side: SW
            intrinsic-offset: [-3, -4, 0]
          - anchor: tbr
            side: SW
            intrinsic-offset: [19.5, -6, 0]
          - anchor: tbl
            side: NW
            intrinsic-offset: [8, 13.5, 0]
          - anchor: rn
            side: NE
            intrinsic-offset: [-4, 6, 0]
          - anchor: upper-right
            side: NE
            intrinsic-offset: [-2, 7, 0]
          - anchor: i2a
            side: NW
            intrinsic-offset: [-5, 5, 0]
mcu:
  include: true
  preview: false
  anchoring:
    anchor: rear-housing-interior
    side: WNW
    segment: 3  # Floor level.
    intrinsic-rotation: [0, π/-2, π/2]
    extrinsic-offset: [-0.5, -2.5, 40]
  type: promicro
  support:
    preview: true
    lock:
      include: true
      width-factor: 0.45
      fastener-properties:
        m-diameter: 4
        head-type: button
      plate:
        base-thickness: 1
        clearance: 2
        backing-thickness: 2.5
      socket:
        thickness: 1.2
      bolt:
        clearance: 2.5
        overshoot: 2
        mount-length: 8
        mount-thickness: 6
ports:
  trrs-jack:
    include: true
    type: custom
    size: [3, 2.5, 3]
    anchoring:
      anchor: rear-housing-exterior
      side: NW
      segment: 3
      extrinsic-offset: [0, -7, 14]
      intrinsic-rotation: [0, 0, π/2]
    holder:
      include: false
      alias: trrs-jack-barrel
      thickness: 0
  trrs-body:
    include: true
    type: custom
    size: [12, 4.5, 6.5]
    alignment:
      side: E
      segment: 1
    anchoring:
      anchor: trrs-jack
      side: S
      intrinsic-rotation: [0, 0, π/2]
      extrinsic-offset: [-0.5, 0.5, 0]
    holder:
      include: true
      alias: trrs-body-holder
      thickness: 2
dfm:
  error-general: -0.4