key-clusters:
  main:
    matrix-columns: 
    - rows-above-home: 2
      rows-below-home: 1
    - rows-above-home: 2
      rows-below-home: 1
    - rows-above-home: 2
      rows-below-home: 2
    - rows-above-home: 2
      rows-below-home: 2
    - rows-above-home: 2
      rows-below-home: 1
    - rows-above-home: 2
      rows-below-home: 1
    style: standard
    aliases: 
      lower-left: [first, first]
      upper-left: [first, last]
      lower-right: [last, first]
      upper-right: [last, last]
      i0a: [0, first]
      i1a: [0, 0]
      i2a: [0, 1]
      i3a: [0, 2]
      i0b: [1, first]
      i3b: [1, last]
      iHome: [1, 0]
      m0: [2, first]
      mn: [2, last]
      r0: [3, first]
      rn: [3, last]
      p0a: [4, first]
      p0b: [5, first]
    anchoring:
      anchor: origin
      intrinsic-offset: [0, 0, 40]
      intrinsic-rotation: [0, 0.7, 0]
      preserve-orientation: true
  thumb:
    anchoring:
      anchor: iHome
      intrinsic-rotation: [0, -1.4, 0.20]
      extrinsic-offset: [-30, -40, -10]
      preserve-orientation: true
    matrix-columns:
    - rows-above-home: 1
    - rows-above-home: 1
    - rows-above-home: 1
    aliases:
      ttl: [last, last]
      ttr: [last, first]
      tml: [1, last]
      tmr: [1, first]
      tbl: [first, last]
      tbr: [first, first]
by-key:
  parameters:
    channel:
      height: 20
      top-width: 18
  clusters:
    main:
      parameters:
        layout:
          matrix:
            neutral:
              column: 2
      columns:
        "0":
          parameters:
            layout:
              matrix:
                separation:
                  row: 0.7
                  column: 1.0
              pitch:
                progressive: 0.4
              roll:
                intrinsic: 0.3
              translation: 
                mid: [0, -2, 9]
          rows:
            last:
              sides:
                west:
                  parameters:
                    wall:
                      extent: 5
                      parallel: 5
                      to-ground: true
            "1":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 5
                      parallel: 5
                      to-ground: true
            "0":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 5
                      parallel: 5
            "-1":
              sides:
                west:
                  parameters:
                    wall:
                      extent: 5
                      parallel: 5
                south:
                  parameters:
                    wall:
                      extent: 5
                      parallel: 5
        "1":
          parameters:
            layout:
              matrix:
                separation:
                  row: 2.0
              pitch:
                progressive: 0.4
              translation: 
                early: [0, 0, 5]
        "2":
          parameters:
            layout:
              matrix:
                separation:
                  row: 0.1
              pitch:
                progressive: 0.4
                intrinsic: 0.1
              translation: 
                early: [0, 9, 0]
          rows:
            "-2":
              parameters:
                layout:
                  translation:
                    mid: [0, -0.2, 0]
          sides:
            south:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
                  to-ground: true
        "3":
          parameters:
            layout:
              matrix:
                separation:
                  row: 1.8
              pitch:
                progressive: 0.37
              translation: 
                early: [0, 2, 5]
          sides:
            south:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
                  to-ground: true
        "4":
          parameters:
            layout:
              matrix:
                separation:
                  row: 0.0
              pitch:
                progressive: 0.45
              translation: 
                mid: [3, -15, 10]
          rows:
            last:
              parameters:
                layout:
                  translation:
                    late: [0, 0.5, 0]
          sides:
            south:
              parameters:
                wall:
                  extent: 5
                  parallel: 7
                  to-ground: true
        "5":
          parameters:
            layout:
              matrix:
                separation:
                  row: 1.2
                  column: 1.3
              roll:
                intrinsic: -0.40
              pitch:
                progressive: 0.45
              translation: 
                mid: [5.5, -16, 17]
          sides:
            east:
              parameters:
                wall:
                  extent: 5
                  to-ground: true
                  parallel: 3
            south:
              parameters:
                wall:
                  to-ground: true
                  extent: 5
                  parallel: 5
          rows:
            "2":
              parameters:
                layout:
                  yaw:
                    intrinsic: 0.09
                  translation:
                    late: [-4.3, -0.9, 0]
      rows:
        "-2":
          parameters:
            key-style: r1
          columns:
            last:
              parameters:
                key-style: r1w
        "-1":
          parameters:
            key-style: r2
          columns:
            last:
              parameters:
                key-style: r2w
        "0":
          parameters:
            key-style: r3
          columns:
            last:
              parameters:
                key-style: r3w
        "1":
          parameters:
            key-style: r4
          columns:
            last:
              parameters:
                key-style: r4w
        "2":
          parameters:
            key-style: r5
          sides:
            north:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
                  to-ground: true
    thumb:
      parameters:
        layout:
          matrix:
            neutral:
              column: 1
            separation:
              column: 0.5
          roll:
            progressive: 0.3
      columns:
        "0":
          parameters:
            layout:
              pitch:
                base: 0.2
                progressive: 0.3
              yaw:
                base: 0.05
          rows:
            first:
              parameters:
                key-style: r2
            last:
              parameters:
                key-style: r4
          sides:
            south:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
            north:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
        "1":
          parameters:
            layout:
              translation:
                early: [0, 2, 0]
              pitch:
                progressive: 0.7
          rows:
            first:
              parameters:
                key-style: r3t
                layout:
                  translation:
                    mid: [0, -8, 0]
            last:
              parameters:
                key-style: r3
          sides:
            north:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
            south:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
        "2":
          parameters:
            layout:
              pitch:
                base: 0.2
                progressive: 0.3
              yaw:
                base: -0.05
              translation:
                mid: [0, -3, 0]
          rows:
            first:
              parameters:
                key-style: r2
            last:
              parameters:
                key-style: r4
          sides:
            north:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
            south:
              parameters:
                wall:
                  extent: 5
                  parallel: 5
secondaries:
tweaks:
  ring-to-pinky:
    # Filling triangle gap
    - chunk-size: 3
      hull-around:
      - [r0, NE, 0]
      - [r0, SE, 0]
      - [p0a, SW, 0]
    # Bridging gap between ring and pinky b
    - chunk-size: 2
      hull-around:
      - [r0, SSE, 0, 3]
      - [p0a, SSW, 0, 3]
    - at-ground: true
      chunk-size: 2
      hull-around:
      - [r0, SSE, 3]
      - [p0a, SSW, 3]
      - [p0a, SSE, 3]
  index-to-index:
    - chunk-size: 3
      hull-around:
      - [i0b, SW, 0]
      - [i0a, SE, 0]
      - [i0b, SE, 0]
      - [m0, SW, 0]
      - [m0, NW, 0]
    - hull-around:
      - [i0a, SSE, 0, 3]
      - [m0, SSW, 0, 3]
  thumb-skirt:
    # Skirt at bottom of thumb cluster
    - at-ground: true
      chunk-size: 2
      hull-around:
      - [tbl, NW, 0]
      - [tbl, SW, 0]
      - [tbr, NW, 0]
      - [tbr, SW, 0]
    # Skirt at outer edges of bottom
    - at-ground: true
      hull-around:
      - [tbl, NNW, 0, 3]
    - at-ground: true
      hull-around:
      - [tbr, SSW, 0, 3]
  thumb-left:
    # Top-left side of thumb cluster
    - chunk-size: 3
      hull-around:
      - [ttl, SE, 0]
      - [i0a, WSW, 2]
      - [ttl, NE, 0]
      - [i0a, WNW, 2]
      - [ttl, NNE, 3]
      - [i1a, WSW, 2]
      - [i1a, WNW, 2]
    # Left side of thumb cluster
    - chunk-size: 3
      hull-around:
      - [ttl, NNE, 2]
      - [i1a, WNW, 2]
      - [ttl, NNW, 2]
      - [i2a, WSW, 2]
      - [tml, NNE, 2]
      - [i2a, WSW, 2]
      - [tml, NNW, 2]
    # Left side skirt
    - at-ground: true
      hull-around:
      - [i2a, WSW, 2]
      - [tml, NNW, 2]
    - hull-around:
      - [tml, NNW, 2]
      - [tbl, NNW, 2]
      - [tbl, NNE, 0, 3]
    - at-ground: true
      hull-around:
      - [tml, NNW, 2]
      - [tbl, NNW, 2]
  thumb-right:
    # Top-right webbing
    - chunk-size: 3
      hull-around:
      - [ttl, SSE, 0]
      - [i0a, WSW, 2]
      - [ttr, NNE, 0]
      - [i0a, SSW, 2]
      - [ttr, SSE, 0]
      - [i0a, SSW, 2]
      - [ttr, SSE, 2]
      - [i0a, SW, 0]
      - [ttr, SSE, 2]
      - [i0a, SSE, 0]
      - [ttr, SSW, 2]
      - [i0a, SSE, 2]
      - [m0, SSW, 2]
    # Right webbing
    - hull-around:
      - [ttr, SSW, 2]
      - [m0, SSW, 2]
      - [tmr, SSE, 2]
    - chunk-size: 3
      hull-around:
      - [ttr, SSW, 2]
      - [tmr, SSE, 2]
      - [m0, SSW, 2]
      - [tmr, SSW, 2]
    - at-ground: true
      hull-around:
      - [tmr, SSW, 2]
      - [m0, SSW, 2]
    - hull-around:
      - [tmr, SSW, 2]
      - [tbr, SSW, 2]
      - [tbr, SE, 0]
      - [tbr, SSE, 3]
    - at-ground: true
      hull-around:
      - [tbr, SSW, 2]
      - [tmr, SSW, 2]
main-body:
  reflect: true
  rear-housing:
    include: true
    anchoring:
      anchor: i3b
      extrinsic-offset: [10, 14, 0]
    size: [75, 25, 30]
dfm:
  error-general: -1